<!DOCTYPE html>
<html>
<head>
  <title><%= SiteSetting.maintenance_mode_title %></title>
  <style>
    body {
      background: #222;
      color: #eee;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      padding-top: 15vh;
    }
    .message {
      max-width: 600px;
      margin: auto;
      font-size: 1.5rem;
    }
  </style>
</head>
<body>
  <div class="message">
    <h1><%= SiteSetting.maintenance_mode_title %></h1>
    <p><%= SiteSetting.maintenance_mode_message %></p>
  </div>
</body>
</html>
